{% extends 'base.html' %}

{% block content %}

<ul>
    <b>Movie:</b> {{ mov.title }}<br>
    <b>Plot:</b> {{ mov.plot }}<br>
    <b>Rated:</b> {{ mov.rated }}<br>
    <b>Released Date:</b> {{ mov.released }}<br>
    <b>Total Duration:</b> {{ mov.runtime }}<br>
    <b>Genre:</b> {{ mov.genre }}<br>
{% for dir in dirs %}
    <b>Director:</b> {{ dir.name }}
{% endfor %}
<form method="POST" action="/update/{{ mov.title }}">
  {{ form.hidden_tag() }}
  {{ form.submit() }}
  <br>
</form>
</ul>

<div>
{% for message in get_flashed_messages() %}
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

{% endblock %}
